[submodule "script/kegg"]
	path = script/kegg
	url = https://github.com/etheleon/keggParser.git
[submodule "omics-neo4j-container"]
	path = omics-neo4j-container
	url = https://github.com/etheleon/omics-neo4j-container.git
